.pos-a {
    position: absolute;
}
.pos-r {
    position: relative;
}

.v-h {
    visibility: hidden;
}

.t-0 {
    top: 0;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.ta-c {
    text-align: center;
}

.as-c {
    -webkit-align-self: center;
    align-self: center;
}

.jc-c {
    -webkit-justify-content: center;
    justify-content: center;
}

.d-b {
    display: block;
}

.mt-30 {
    margin-top: 30px;
}

.ov-x-h {
    overflow-x:hidden;
}
.ov-y-s {
    overflow-y: scroll;
}

/* flex */
.d-f {
    display: -webkit-flex;
    display: flex;
}

.fd-r {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.fd-c {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.fg-1 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.f-n {
    -webkit-flex: none;
    flex: none;
}

.f-1-0-0 {
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
}