.conversationDiv {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    /*background:#F0F7FF;*/
    width:100%;
    overflow-x:hidden;
    overflow-y: scroll;
}

.header {
    -webkit-flex: none;
}

.container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    position:relative;
}

.pageLoadTime{
    display: none;
}

.topic {
    background-color:#F0F7FF;
    border-bottom:1px dashed #C8D1DB;
    cursor:default;
}

.txtBox {
    border: 1px solid rgb(195,210,224);
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.footer {
    -webkit-flex: none;
    flex: none;
 }

.footer div {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    width: 100%;
}